* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background: var(--bg-pri-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
main {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--spacing-xl);
  gap: var(--spacing-3xl);
  color: var(--text-pri-color);
}
main section {
  background-color: var(--bg-sec-color);
  border: var(--border-xs) solid var(--success-color);
  border-radius: var(--radius-lg);
  overflow: hidden;
}
main section.secLeft {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md);
}
main .header {
  width: 100%;
  background-color: var(--bg-pri-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xl);
  padding: var(--spacing-md);
  font-size: var(--text-md);
  font-weight: 600;
}
main section.secRight {
  width: 25%;
  height: 100%;
}

.imgContainer {
  flex: 1;
  width: 100%;
}

.leftSecBtns {
  padding: var(--spacing-xs) var(--spacing-lg);
  outline: 0;
  border: 0;
  border-radius: var(--radius-xs);
  color: var(--text-pri-color);
}

#resetBtn {
  background-color: var(--danger-color);
}
#downloadBtn {
  background-color: var(--success-color);
}
.filters {
  padding-top: var(--spacing-sm);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}
.filter {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  padding-inline: var(--spacing-lg);
}

.filter input {
  appearance: none;
}

.filter input::-webkit-slider-runnable-track {
  background: #000;
  height: 2px;
  display: flex;
}

.filter input::-webkit-slider-thumb {
  color: aqua;
  margin-top: -6.5px;
}
