:root {
  /* BGcolor */
  --bg-pri-color: rgb(11, 11, 11);
  --bg-sec-color: rgb(17, 17, 17);
  /* Textcolor */
  --text-pri-color: rgb(227, 227, 227);
  --text-sec-color: rgb(190, 0, 0);
  --text-tri-color: rgb(0, 169, 107);
  /* Statuscolor */
  --danger-color: rgb(170, 34, 34);
  --success-color: rgb(0, 136, 68);

  /* spacing */
  --spacing-xs: 5px;
  --spacing-sm: 10px;
  --spacing-md: 15px;
  --spacing-lg: 20px;
  --spacing-xl: 25px;
  --spacing-2xl: 30px;
  --spacing-3xl: 35px;

  /* textSize */
  --text-xs: 5px;
  --text-sm: 10px;
  --text-md: 15px;
  --text-lg: 20px;
  --text-xl: 25px;
  --text-2xl: 30px;
  --text-3xl: 35px;

  /* border */
  --border-xs: 2px;
  --border-sm: 5px;
  --border-md: 10px;
  --border-lg: 15px;
  --border-xl: 20px;
  --border-2xl: 25px;
  --border-3xl: 30px;

  /* radius */
  --radius-xs: 5px;
  --radius-sm: 10px;
  --radius-md: 15px;
  --radius-lg: 20px;
  --radius-xl: 25px;
  --radius-2xl: 30px;
  --radius-3xl: 35px;
}
